<form action="/answer" method="get">
    <label for="questioninput">Ask your coach anything:</label>
  <div class="input-group mb-3">
    <input type="text" name="answer" class="form-control-lg">
    <input type="submit" value="Ask!" class="btn btn-primary btn-lg">
  </div>
</form>
